{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="current_password" placeholder="Current password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password_confirmation" placeholder="Retype New Password " type="password">
        </div>
        <button class="btn btn-primary" type="submit">Save my new password</button>
    </form>
{% endblock %}
